extends ../layout

block content
  div(class="container")
    h1(class="display-4") Welcome to Sudo Chess
    hr(class="my-4")
    p You must be signed in to play. Please login or register to play.
    a(class="btn btn-primary btn-lg" href="/users/login" role="button" style="margin:auto;" ) Login/Register





